@model IEnumerable<CoffeApp.Models.Offer>

@{
    ViewData["Title"] = "Index";
}
<style>
    .coffee-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .coffee-item {
        border-radius: 10px;
        margin: 10px;
        background-color: #B98753;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        overflow: hidden;

    }
    .coffee-button {
          background-color: #442E26;
          color: white;
          font-weight: 700;
          padding: 10px;
          border-radius: 10px;
          text-decoration: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          margin: 5px;
          float:right;
          display: block;
         
}
.coffe-button-details {
    background-color: #7E5233;
}
.item-body {
            padding: 10px;
}
.item-image{
  
        width:100%;
        object-fit: cover;
        max-height: 270px;

}

.create-button  {
    float:left;
    color: white;
    text-decoration: none;
    display:flex;
    float: right;
}
</style>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                    <a asp-action="Order" asp-route-id="@item.Id">Zarezerwuj</a>|
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="coffee-wrapper">
    @foreach (var item in Model) {
        <div class="coffee-item">
            <img class="item-image" src="@Html.DisplayFor(modelItem => item.Link)" />
            <div class="item-body">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <h4>@Html.DisplayFor(modelItem => item.Price) zł</h4>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <a class="coffee-button" href="@Url.Action("Order", "Offer", new { orderId = item.Id })" class="btn btn-primary">Zamów</a>

                @*<a class="coffee-button" asp-action="extras" asp-route-id="@item.id">zamów</a>*@

                <a class="coffee-button coffe-button-details" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                <a class="coffee-button coffe-button-details" asp-action="Delete" asp-route-id="@item.Id">Usuń</a> 
            </div>
        </div>
       
}

</div>



<p>
    <a class="create-button coffee-button " asp-action="Create">Create New</a>
</p>