@model IEnumerable<CoffeApp.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<style>
    .coffee-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .coffee-item {
        border-radius: 10px;
        margin: 10px;
        background-color: #B98753;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        overflow: hidden;

    }
    .coffee-button {
          background-color: #442E26;
          color: white;
          font-weight: 700;
          padding: 10px;
          border-radius: 10px;
          text-decoration: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          margin: 5px;
          float:right;
          display: block;
         
}
.coffe-button-details {
    background-color: #7E5233;
}
.item-body {
            padding: 10px;
}
.item-image{
  
        width:100%;
        object-fit: cover;
        max-height: 270px;

}

.create-button  {
    float:left;
    color: white;
    text-decoration: none;
    display:flex;
    float: right;
}
</style>

@*@**@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

*@<div class="coffee-wrapper">
    @foreach (var item in Model) {
        <div class="coffee-item">
            <img class="item-image" src="@Html.DisplayFor(modelItem => item.Mail)" />
            <div class="item-body">
                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                <h4>@Html.DisplayFor(modelItem => item.PhoneNumer) zł</h4>

              @* <a href="@Url.Action("Order", "Offer", new { orderId = item.Id })" class="btn btn-primary">zamów</a>*@

                @*<a class="coffee-button" asp-action="extras" asp-route-id="@item.id">zamów</a>*@

                <a class="coffee-button coffe-button-details" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                <a class="coffee-button coffe-button-details" asp-action="Delete" asp-route-id="@item.Id">Usuń</a> 
            </div>
        </div>
       
}

</div>

 <p class="coffee-button">
    <a class="coffee-button" asp-action="Create">Create New</a>
</p
